.postList{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 500px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.feedWrapper{
    margin: 30px;
}